<div class="container-food">
  <h1 class="my-4">Alimentos Consumidos</h1>
  <h2>Total de Calorias: <%= @total_calories %> kcal</h2>

  <div class="row mt-4">
    <% @food_intakes.each do |food_intake| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% if food_intake.product_image.present? %>
            <%= image_tag food_intake.product_image, class: "card-img-top", alt: "Imagem do produto" %>
          <% else %>
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Imagem do produto">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= food_intake.product_name %></h5>
            <p class="card-text">Calorias: <%= food_intake.calories %> kcal</p>
            <p class="card-text">Data: <%= food_intake.date.strftime('%d/%m/%Y') %></p>
            <%= link_to 'Excluir', food_intake_path(food_intake), data: { turbo_method: :delete, turbo_confirm: 'Tem certeza que deseja excluir este alimento?' }, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
