<div class="food-dashboard container-food">
  <!-- Exibição das calorias, água e proteína -->
  <div class="food-dashboard-calorias-info card shadow-sm p-4 mb-4">
    <h6 class="food-dashboard-text-light">Calorias consumidas hoje:</h6>
    <p class="food-dashboard-text-warning fw-bold">
      <%= current_user.food_intakes.where(date: Date.today).sum(:calories) %> kcal
    </p>
    <h6 class="food-dashboard-text-light mt-3">Água consumida hoje:</h6>
    <p class="food-dashboard-text-info fw-bold">
      <%= current_user.water_intakes.where(date: Date.today).sum(:amount) %> L
    </p>
    <h6 class="food-dashboard-text-light mt-3">Proteína consumida hoje:</h6>
    <p class="food-dashboard-text-success fw-bold text-light">
      <%= current_user.food_intakes.where(date: Date.today).sum(:protein) %> g
    </p>
  </div>

  <!-- Gráfico de calorias e proteína -->
  <div class="food-dashboard-calorias-chart card shadow-sm p-4 mb-4">
    <canvas id="caloriesChart"></canvas>
  </div>

  <div class="food-dashboard-actions-buttons">
    <a href="<%= food_intakes_path %>" class="food-dashboard-btn btn btn-success rounded-4 w-100 text-light mb-3 btn-sm d-flex align-items-center justify-content-center">
      <i class="fas fa-utensils mr-2"></i> Visualizar Alimentos
    </a>
    <a href="<%= new_food_intake_path %>" class="food-dashboard-btn btn btn-success rounded-4 w-100 text-light mb-3 btn-sm d-flex align-items-center justify-content-center">
      <i class="fas fa-plus-circle mr-2"></i> Adicionar Alimento
    </a>
    <a href="<%= new_water_intake_path %>" class="food-dashboard-btn btn btn-info rounded-4 w-100 text-light mb-3 btn-sm d-flex align-items-center justify-content-center">
      <i class="fas fa-tint mr-2"></i> Adicionar Água
    </a>
  </div>

  <!-- Visualização de alimentos -->
  <div class="food-dashboard-alimentos-consumidos card shadow-sm p-4 ">
    <h6 class="food-dashboard-text-light">Alimentos consumidos hoje:</h6>
    <ul class="food-dashboard-list-group p-0">
      <% current_user.food_intakes.where(date: Date.today).each do |food_intake| %>
        <li class="food-dashboard-list-group-item d-flex gap-3 justify-content-between align-items-center mt-2">
          <p class="text-light m-0 food-name"><%= food_intake.product_name %></p>
          <span class="badge bg-warning rounded-pill"><%= food_intake.calories %> kcal</span>
          <span class="badge bg-success rounded-pill"><%= food_intake.protein %> g</span>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script>
  document.addEventListener("turbo:load", function() {
    var ctx = document.getElementById('caloriesChart').getContext('2d');
    var caloriesChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Calorias Consumidas', 'Calorias Restantes', 'Proteína Consumida', 'Proteína Restante'],
        datasets: [{
          data: [
            <%= current_user.food_intakes.where(date: Date.today).sum(:calories) %>,
            2000 - <%= current_user.food_intakes.where(date: Date.today).sum(:calories) %>,
            <%= current_user.food_intakes.where(date: Date.today).sum(:protein) %>,
            100 - <%= current_user.food_intakes.where(date: Date.today).sum(:protein) %>
          ],
          backgroundColor: ['#e7d31f', '#8bf059', '#7bc0ff', '#36771a'],
          borderColor: ['#000000', '#000000', '#000000', '#000000'],
          borderWidth: 2,
          hoverBackgroundColor: ['#ffc000', '#52f700', '#0085ff', '#2c9100'],
          hoverBorderColor: ['#ffc000', '#52f700', '#0085ff', '#2c9100']
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: true,
            position: 'top',
            align: 'start', // Tente ajustar para 'start' ou 'end'
            labels: {
              font: {
                size: 14,
                weight: 'bold'
              },
              color: '#fff', // Define a cor das labels para branco
              padding: 20, // Adiciona espaçamento ao redor das labels
            }
          },
          tooltip: {
            callbacks: {
              label: function(tooltipItem) {
                if (tooltipItem.label === 'Calorias Consumidas' || tooltipItem.label === 'Calorias Restantes') {
                  return tooltipItem.raw + ' kcal';
                } else {
                  return tooltipItem.raw + ' g';
                }
              }
            }
          }
        },
        layout: {
          padding: {
            top: 20,
            right: 20,
            bottom: 20,
            left: 20
          }
        },
        animation: {
          duration: 1000,
          easing: 'easeOutBounce'
        }
      }
    });
  });
</script>
