


<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <button id="menu-toggle" class="btn btn-menu">
      ☰
    </button>
    <%= link_to root_path, class: "navbar-brand m-0" do %>
      <%= image_tag "https://res.cloudinary.com/dhkyacden/image/upload/v1733513174/gym_moviment_bu5z7k.png" %>
    <% end %>
    <div class="placeholder"></div>
  </div>
</div>

<div id="sidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" id="close-sidenav">×</a>
  <% if user_signed_in? %>
    <%= link_to my_account_path(current_user), class: "navbar-link account-link" do %>
      <% if current_user.profile_picture.nil? %>
        <%= image_tag "user.svg", alt: "Profile user", class: "navbar-icon default-profile-icon" %>
      <% else %>
        <%= image_tag current_user.profile_picture, alt: "Minha Conta", class: "navbar-icon profile-picture" %>
      <% end %>
      <span class="user-greeting">Olá, <%= "#{current_user.first_name} #{current_user.last_name}" %></span>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "navbar-link login-link" do %>
      <%= image_tag "user.svg", alt: "Entrar", class: "navbar-icon login-icon" %>
      <span>Login</span>
    <% end %>
  <% end %>
  <br>
  <%= link_to image_tag("https://res.cloudinary.com/dhkyacden/image/upload/v1734009546/udwqwh8azqt0jeayc5xm.png") + " Nutri", nutri_food_intakes_path, class: "nav-link" %>
  <br>

  <%= link_to image_tag("https://www.citypng.com/public/uploads/preview/white-outline-market-store-shop-icon-free-png-701751694972760dqodlqpysl.png") + " Loja GYM Suplements", "https://gym-suplement-909fe7f2432b.herokuapp.com/", class: "nav-link", target: "_blank", rel: "noopener" %>
  <br>

  <%= link_to image_tag("https://res.cloudinary.com/dhkyacden/image/upload/v1734010444/b6wglbsuwzd4060utflw.png") + " Contatos", new_contact_path, class: "nav-link" %>
  <br>
</div>
