    <footer>
        <div class="footer-content">
            <%= link_to root_path, class: "footer-link" do %>
              <%= image_tag "home.svg", alt: "Entrar", class: "footer-icon" %>
              <span>Home</span>
            <% end %>

            <%= link_to map_path, class: "footer-link" do %>
                <%= image_tag "map.svg", alt: "Pedidos", class: "footer-icon" %>
                <span>Mapa</span>
            <% end %>

            <%= link_to gyms_path, class: "footer-link" do %>
                <%= image_tag "academias.svg", alt: "Pedidos", class: "footer-icon" %>
                <span>Academias</span>
            <% end %>

            <% if user_signed_in? %>
              <%= link_to my_account_path(current_user), class: "footer-link" do %>
                <% if current_user.profile_picture.nil? %>
                  <%= image_tag current_user.profile_picture, alt: "Minha Conta", class: "footer-icon perfil-img" %>
                <% else %>
                  <%= image_tag "user.svg", alt: "Profile user", class: "footer-icon" %>
                  <span>Perfil</span>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path, class: "footer-link" do %>
                <%= image_tag "user.svg", alt: "Entrar", class: "footer-icon" %>
                <span>Login</span>
              <% end %>
          <% end %>
        </div>
      </footer>
