<%= turbo_stream.append "messages" do %>
  <%= render partial: "chat_messages/chat_message", locals: { chat_message: @message } %>
  <% if @ai_message %>
    <%= render partial: "chat_messages/chat_message", locals: { chat_message: @ai_message } %>
  <% end %>
<% end %>

<%= turbo_stream.update "message-form" do %>
  <%= form_with(model: ChatMessage.new,
               url: chat_messages_path,
               data: { controller: "chat" }) do |f| %>
    <div class="d-flex">
      <%= f.text_field :content,
          class: "form-control me-2",
          placeholder: "Digite sua mensagem...",
          data: { action: "keypress->chat#submitOnEnter" } %>
      <%= f.submit "Enviar", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
