<div class="container-index mt-4">
  <h3 class="text-center mt-4 mb-4 text-light fw-bold">Lista Academias</h3>

  <div class="search-container">
    <%# Busca da academia %>
    <div class="search-bar-index">
      <%= render "shared/search" %>
    </div>

    <div id="botoes-index" class="d-flex flex-wrap justify-content-between align-items-center mb-3 w-100">
      <div class="button-group w-100 d-flex align-items-center justify-content-between gap-1">
        <button id="toggleFilterBtn" class="btn btn-success mt-3 mb-3 rounded-custom m-0 w-50">Filtros</button>
        <%= link_to 'Ver mapa', map_path, class: 'btn btn-success rounded-custom m-0 w-50' %>
      </div>
    </div>
  </div>

  <%= render "shared/filter" %>

  <div class="gyms-container mt-3">
    <% @gyms.each do |gym| %>
      <div class="card mb-3 rounded-4 gym-card">
        <div class="d-flex g-0 align-items-center w-100">
          <div class=" w-auto">
            <%= link_to gym_path(gym), class: "card-title text-decoration-none" do %>
              <%= image_tag gym.gym_image, class: "card-img pe-2" %>
            <% end %>
          </div>
          <div class="card-body card-content p-2">
            <%= link_to gym.name, gym_path(gym), class: "card-title text-decoration-none fw-bold" %>

            <p class="card-text mb-1">
              Score: <% (1..5).each do |i| %>
                <% if i <= gym.rating.to_i %>
                  <i class="fa fa-star text-warning"></i> <!-- Estrela cheia -->
                <% else %>
                  <i class="fa fa-star-o text-muted"></i> <!-- Estrela vazia -->
                <% end %>
              <% end %>
            </p>

            <p class="card-text mb-1">
              Fluxo:
              <% fluxo = @fluxos[gym.id].to_f %>
              <% capacidade = gym.capacity.to_f %>
              <% fluxo_percentual = ((fluxo / capacidade) * 100).round(1) %>
              <span id="fluxo-<%= gym.id %>"><%= fluxo_percentual %> %</span>
            </p>

            <p class="card-text mb-1">Capacidade: <%= gym.capacity %></p>
            <div class="d-flex gap-3">
              <p class="card-text mb-1">Mulheres: <%= @gender[gym.id]["Female"] %></p>
              <p class="card-text mb-1">Homens: <%= @gender[gym.id]["Male"] %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
