<!DOCTYPE html>
<html>
  <head>
    <title>GymMovement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%= javascript_include_tag "footer_visibility", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="navbar" data-turbo-permanent>
      <%= render "shared/navbar" %>
    </div>
    <%= render "shared/flashes" %>

    <%if current_user.present? %>
      <%= turbo_frame_tag "notification" do %>
       <%#= render "shared/mensagem" %>
      <% end %>
      <%= turbo_stream_from current_user %>
    <% end %>
    <%= yield %>
    <%= render "pages/footer" %>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
  </body>
</html>
